.proyectos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .title {
    min-width: 100%;
  }
  
  .proyectos > .title > h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--color-texto);
    text-align: center;
    flex-wrap: wrap;
  }
      
  @media only screen and (max-width: 600px) {
    .proyectos {
      padding-top: 121px;
      padding-bottom: 121px;
    }
  }